:root {
    --primary: #FFBF46;
    --primary-010: #F59F00;

    --secondary: #06628a;
    --secondary-010: #06374e;

    --white: #ffffff;
    
    --black: #10101a;
    --black-010: #2a2a30;

    --gray: #9b9ba0;
}